
QR_code/Information_to_QR_code/.idea/

QR_code/Information_to_QR_code/cmake-build-debug/

QR_code/csv_to_png/cmake-build-debug/

QR_code/csv_to_png/.idea/


.vscode
QR_code/api_curl/cmake-build-debug/

QR_code/api_curl/.idea/

QR_code/api_curl/upload.log

QR_code/file_listener/cmake-build-debug/
