
QR_code/Information_to_QR_code/.idea/

QR_code/Information_to_QR_code/cmake-build-debug/


QR_code/csv_to_png/cmake-build-debug/

QR_code/csv_to_png/.idea/


.vscode
QR_code/api_curl/cmake-build-debug/

QR_code/api_curl/.idea/

QR_code/api_curl/upload.log


QR_code/file_listener/cmake-build-debug/

QR_code/file_listener/.idea/

QR_code/file_listener/listener.log


QR_code/drivencook_subscribe/.idea/

QR_code/drivencook_subscribe/cmake-build-debug/


QR_code/qrcode_reader/.idea/

QR_code/qrcode_reader/cmake-build-debug/

.idea/

java_maven/target/
