.button-submit {
    -fx-background-color: #0784b5;
    -fx-text-fill: #fefefe;
    -fx-font-weight: bold;
}

.button-cancel {
    -fx-background-color: #ec1818;
    -fx-text-fill: #fefefe;
    -fx-font-weight: bold;
}