.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #0784b5;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #fefefe;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: #fefefe;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #2d383c;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #414c50;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #39ace7;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}